.nav-bg {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
}

.hero-flex {
    flex-direction: row;
}

.best-hauler-add {
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-left: 15%;
}



.best-hauler {
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 14px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.best-hauler>span {
    z-index: 10;
}

.best-hauler>div {
    position: absolute;
    background-color: var(--color-primary);
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 5;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.hero-heading>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.hero-decos {
    display: flex;
    gap: 2rem;
}

.hero-decos>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-decos>div>span:nth-of-type(1) {
    font-size: 2rem;
    color: white;
}

.hero-decos>div>span:nth-of-type(2) {
    color: var(--color-primary-comments);
    text-transform: uppercase;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons> :nth-child(1) {
    background-color: var(--color-primary);
    gap: 1rem;
    width: fit-content;
}

.hero-buttons> :nth-child(2) {
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.best-hauler-image-container {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 0;
    padding-top: 3rem;
}

.best-hauler-image {
    background-image: url(/citycloud.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.hero-image-back {
    z-index: 1;
}

.hero_image-city {
    position: relative;
    filter: blur(2px);
    transform: scale(.8);
}


@media screen and (max-width: 1640px) {
    .hero-heading {
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 850px) {
    .hero-flex {
        flex-direction: column;
    }

    .best-hauler-add {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .best-hauler-image-container {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .hero-heading {
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
    }

    .hero-heading>div:nth-of-type(3) {
        font-size: small;
        letter-spacing: 1px;
        font-weight: 200;
        text-align: center;
    }

    .hero-decos {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        width: 100%;
    }

    .hero-decos>div {
        align-items: center;
    }

    .hero-decos>div>span:nth-of-type(1) {
        font-size: large;
    }

    .hero-decos>div>span:nth-of-type(2) {
        font-size: x-small;
    }

    .hero-buttons {
        justify-content: center;
    }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: starAnimation 5s infinite;
}

@keyframes starAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}