.social-links {
    width: fit-content;
}

.social-links>a {
    font-size: 2rem;
}

.footer-links-container {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1640px) {
    .footer-links-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .footer-links-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: .5rem;
    }
}